<div id="percolation">
   <div id="title">
      <p>Percolation Simulate</p>
   </div>
   <div id="image-wrapper">
      <img src="../../../assets/percolation.gif" />
   </div>
   <div id="description">
      <details>
         <summary>How it works?</summary>
         <p> In a system that is an n-by-n grid of sites, each site is either blocked or open. Initially, all sites are blocked. A system is said to have percolated if there is an open site in the top row that can be connected to an open site in the bottom row via a chain of neighboring (left, right, up, down) open sites.” </p>
      </details>
   </div>
</div>